*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7EFE5;
}

h1 {
    margin-bottom: 20px;
}
.cadastro-clientes {
    display: flex;
    background-color: #F7EFE5;
}

.cadastro-esquerda { flex-direction: column; }

.cadastro-esquerda, .cadastro-direita {
    display: flex;
    align-items: center;
    width: 50vw;
}

.cadastro-identificacao  {
    display: grid;
    grid-template-columns: 2;
    margin: 20px;
}

.cadastro-clientes label {
    display: flex;
    flex-direction: column;
}


h3, label, .infos {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input {
    width: 400px;
    height: 50px;
}

.data {
    width: 120px;
}

input, select, textarea, button {
    border-radius: 10px;
    border-color: #7743DB;   
}

input, select {
    margin-top: 5px;
}

input::placeholder {
    padding-left: 10px;
}


.pequeno, select {
    width: 110px;
    height: 36px;
    flex-shrink: 0;
}

.infos {
    width: 400px;
    height: 102px;
    flex-shrink: 0;
}

button {
    margin-left: 10px;
    width: 150px;
    height: 50px;
    background-color: #FFF;
    cursor: pointer;
}

label {
    font-style:italic;
}

fieldset {
    padding: 10px;
    border-color: #C3ACD0;
}
button:hover {
    background-color:#C3ACD0;
}

@media (max-width: 950px) {
    .cadastro-clientes {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}